{% extends 'accounts/main.html' %}
{% load static %}
{% block content%}
<body>
    

        <div class="pf-follow" style="background: url('../static/img/banner/bannerDTTeacher.jpg') no-repeat; background-size: cover;">
            <div class="wrapper">
                <ul class="pff-list">
                    <li>
                        <div class="item">
                            <span class="num">10.000 +</span>
                            <span class="text">học sinh đang theo dõi</span>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <span class="num">800 +</span>
                            <span class="text">bài giảng online</span>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <span class="num">10 +</span>
                            <span class="text">năm kinh nghiệm</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div id="main">
    <div class="wrapper">

        <div class="pf-about clearfix">
            {% if teachers.avatar %}
            <div class="left-a">
                <div class="image">
                    <img src="{{teachers.avatar.url}}" alt="#">
                </div>
            </div>
            <div class="right-a">
                <div class="info">
                    <div class="lbl">
                        <h3>THÔNG TIN GIÁO VIÊN</h3>
                    </div>
                    <div class="details">
                        <div class="row-a">
                            <div class="work">
                                <div class="icoleft"><span class="ico-user"></span></div>
                                <div class="text">
                                    <strong>Họ và tên</strong>
                                    <p class="big">{{teachers.fullname}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row-a">
                            <div class="work">
                                <div class="icoleft"><span class="ico-work"></span></div>
                                <div class="text">
                                    <strong>Nơi công tác:</strong>
                                    <p class="big">{{teachers.address}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row-a">
                            <div class="left">
                                <div class="subject">
                                    <div class="icoleft"><span class="ico-subject"></span></div>
                                    <div class="text">
                                        <strong>Môn dạy:</strong>
                                         <p class="big">{{teachers.subject}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="right">
                                <div class="degree">
                                    <div class="icoleft"><span class="ico-degree"></span></div>
                                    <div class="text">
                                        <strong>Học vị:</strong>
                                        <p class="big">{{teachers.degree}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-a">
                            <div class="left">
                                <div class="email">
                                    <div class="icoleft"><span class="ico-email"></span></div>
                                    <div class="text">
                                        <strong>Email:</strong>
                                        <p>
                                         <a href="{{teachers.email}}	">{{teachers.email}}		</a>
                                         </p>
                                    </div>
                                </div>
                            </div>
                            <div class="right">
                                <div class="facebook">
                                    <div class="icoleft"><span class="ico-facebook"></span></div>
                                    <div class="text">
                                        <strong>Facebook:</strong>
                                        <p>
                                         <a href="{{teachers.facebook}}">{{teachers.facebook}}		</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

    </div>
</div>
</body>
{% endblock %}