{% extends 'accounts/main.html' %}
{% load static %}
{% block content%}
<body>
    

        <div class="pf-follow" style="background: url('../static/img/banner/bannerDTTeacher.jpg') no-repeat; background-size: cover;">
            <div class="wrapper">
                <ul class="pff-list">
                    <li>
                        <div class="item">
                            <span class="num">10.000 +</span>
                            <span class="text">học sinh đang theo dõi</span>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <span class="num">800 +</span>
                            <span class="text">bài giảng online</span>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <span class="num">10 +</span>
                            <span class="text">năm kinh nghiệm</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div id="main">
    <div class="wrapper">
        <div class="pf-about clearfix">
            <div class="left-a">
                <div class="image">
                    <img src="https://hocmai.vn/file.php/1/Anh_giao_vien_THCS_va_TH/Van_Trinh_Quynh_An/470X470.png" alt="Văn Trịnh Quỳnh An">
                </div>
            </div>
            <div class="right-a">
                <div class="info">
                    <div class="lbl">
                        <h3>THÔNG TIN GIÁO VIÊN</h3>
                    </div>
                    <div class="details">
                        <div class="row-a">
                            <div class="work">
                                <div class="icoleft"><span class="ico-user"></span></div>
                                <div class="text">
                                    <strong>Họ và tên</strong>
                                    <p class="big">Văn Trịnh Quỳnh An</p>
                                </div>
                            </div>
                        </div>
                        <div class="row-a">
                            <div class="work">
                                <div class="icoleft"><span class="ico-work"></span></div>
                                <div class="text">
                                    <strong>Nơi công tác:</strong>
                                    <p class="big">Trường THPT Gia Định, TP.HCM</p>
                                </div>
                            </div>
                        </div>
                        <div class="row-a">
                            <div class="left">
                                <div class="subject">
                                    <div class="icoleft"><span class="ico-subject"></span></div>
                                    <div class="text">
                                        <strong>Môn dạy:</strong>
                                         <p class="big">Ngữ văn</p>
                                    </div>
                                </div>
                            </div>
                            <div class="right">
                                <div class="degree">
                                    <div class="icoleft"><span class="ico-degree"></span></div>
                                    <div class="text">
                                        <strong>Học vị:</strong>
                                        <p class="big">Thạc sĩ</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-a">
                            <div class="left">
                                <div class="email">
                                    <div class="icoleft"><span class="ico-email"></span></div>
                                    <div class="text">
                                        <strong>Email:</strong>
                                        <p>
                                         <a href="mailto:gv.anvtq@hocmai.edu.vn		">gv.anvtq@hocmai.edu.vn		</a>
                                         </p>
                                    </div>
                                </div>
                            </div>
                            <div class="right">
                                <div class="facebook">
                                    <div class="icoleft"><span class="ico-facebook"></span></div>
                                    <div class="text">
                                        <strong>Facebook:</strong>
                                        <p>
                                         <a href="https://www.facebook.com/quynhan1989		">https://www.facebook.com/quynhan1989		</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}