{% extends 'accounts/main.html' %}
{% load static %}
{% include 'accounts/sectionhero1.html' %}

{% block content%}
    <div class="container">
        <div class="row">
            <div class="content">
                <center><h3>Ngữ Văn</h3></center>
            </div>
            <div class="col-lg-6">
                <div class="text" >
                    <strong>Luyện thi Đại học, cao đẳng</strong>
                </div>
                <div class="deThi">
                    <div class="col-lg-6" >
                        <a href="" style="text-decoration: none; color: #000;">De Thi 1</a>
                    </div>
                    <div class="col-lg-6">
                        <a href="" style="text-decoration: none;color: #000;">De Thi 2</a>
                    </div>
                    <div class="col-lg-6">
                        <a href="" style="text-decoration: none;color: #000;">De Thi 3</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="text">
                    <strong>Thi đầu vào 10, 12</strong>
                </div>
                <div class="deThi">
                    <div class="col-lg-6" >
                        <a href="" style="text-decoration: none; color: #000;">De Thi 1</a>
                    </div>
                    <div class="col-lg-6">
                        <a href="" style="text-decoration: none;color: #000;">De Thi 2</a>
                    </div>
                    <div class="col-lg-6">
                        <a href="" style="text-decoration: none;color: #000;">De Thi 3</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="text">
                    <strong>Luyện đề thi Đại học, cao đẳng</strong>
                </div>
                <div class="deThi">
                    <div class="col-lg-6" >
                        <a href="" style="text-decoration: none; color: #000;">De Thi 1</a>
                    </div>
                    <div class="col-lg-6">
                        <a href="" style="text-decoration: none;color: #000;">De Thi 2</a>
                    </div>
                    <div class="col-lg-6">
                        <a href="" style="text-decoration: none;color: #000;">De Thi 3</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock%}